### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.settings/
.sts4-cache
.factorypath
.springBeans

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Build Files ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Visual Studio Code ###
.vscode/

### macOS ###
.DS_Store

### Exceptions ###
# Ensure important files for GitHub Pages are not ignored
!index.html
!**/*.html
!**/*.css
!**/*.js
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.gif
!**/*.svg
